%tr{ id: dom_id(song.song) }
  %td.play
    = link_to icon("far", "play-circle"), player_path(song.song),
              data: { turbo_frame: "player_frame", action: "player#playing" }
  %td= song.title
  %td= song.artist.name
  %td= link_to icon("fas", "trash-alt"), "#", data: { action: "playlist#remove" }
