%article{ class: playlist_class(@playlist), data: @playlist ? playlist_data(@playlist) : {} }
  %h1
    = @playlist&.name || "All Songs"
    = link_to "PLAY", nil, class: 'btn green', data: { action: "player#next" }

  %table.table.table-hover.songs
    %thead
      %tr
        %th
        %th Title
        %th Artist
        %th
    %tbody#songs
      = render partial: 'songs/song', collection: @songs, cached: true

= turbo_frame_tag "song_loader", target: "songs",
                  src: @playlist ? playlist_path(page: @pagy.next) : songs_path(page: @pagy.next)
